{% extends "flatpages/default.html" %}

{%block title%} Профиль {% endblock title %}
{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>
<div>
    {% if not_author%}
    <p><span style="color: #000000;"><button><a style="color: #000000;" href="sign/upgrade/">Стать автором</a></button></span></p>
    {%endif%}
</div>

<div>
    <p><span style="color: #000000;"><button><a style="color: #000000;"href="news/categories">Мои подписки</a></button></span></p>
</div>

<p><span style="color: #000000;"><button> <a style="color: #000000;" href="sign/logout/">Выйти</a> </button></span></p>
{% endblock %}