{% extends "flatpages/default.html" %}

{%block title%} Профиль {% endblock title %}
{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>
<div>
    {% if not_author%}
    <p><span style="color: #000000;"><button><a style="color: #000000;" href="sign/upgrade/">Стать автором</a></button></span></p>
    {%endif%}
</div>

<div>
    <p>Если хотите подписаться на какую либо категорию: </p>
    <p><span style="color: #000000;"><button><a style="color: #000000;" href="news/category">Список категорий</a></button></span></p>
</div> <br>

<p><span style="color: #000000;"><button> <a style="color: #000000;" href="sign/logout/">Выйти</a> </button></span></p>
{% endblock %}