<!DOCTYPE html>
<html lang="en">
<head> {% extends 'flatpages/base.html' %} {% load custom_filters %}
    <meta charset="UTF-8">
    <title>{%block title}Категория{%endblock title}</title>
</head>
<body>
{%block content%}
<h2>Названия категории: {{categores}}</h2><hr><br>
<form action='subscribers' method="POST">
        {% csrf_token%}
        {% if user in categores.subscribers.all %}
            <p><a class="btn btn-secondary " href="{% url 'unsubscribe' categores.id %}">Отписаться</a></p>
        {%else%}
            <p><a class="btn btn-primary " href="{% url 'subscribe' categores.id %}">Подписаться</a></p>
        {%endif%}
</form>
{%endblock content%}
</body>
</html>