<!DOCTYPE html>
<html lang="en">
<head> {% extends 'flatpages/base.html' %} {% load custom_filters %}
    <meta charset="UTF-8">
    <title>{%block title%} Отписка оформлена {%endblock title%}</title>
</head>
<body>
{%block content%}
    <h2>Вы успешно отписались на категории</h2>

<div>
    <form action="/news/"><input type="submit" class="btn btn-primary " value="На главную"/> </form> <input type="submit" class="btn btn-primary " onclick="history.back()" value="Назад"/>
</div>
{%endblock content%}
</body>
</html>