<!DOCTYPE html>
<html lang="en">
<head> {% extends 'flatpages/default.html' %} {% load custom_filters %}
    <meta charset="UTF-8">
    <title>{%block title%} Search NEWS {%endblock title%}</title>
</head>
<body>
{%block content%}

    <form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
    </form>


    {% for new in filter.qs %}
    <p style="text-align: right;">Дата публикации: {{new.data}}</p>
    <h3>{{new.title|censor_filter}}</h3>
    <br>
    <br>
    <h5>{{new.text|truncatechars:50|censor_filter}}</h5>
    <p style="text-align: right;">Пост опубликован: {{new.PostAuthor}}-ом</p>
    <p style="text-align: right;"><span style="text-align: right; color: #0000ff;">Рейтинг статьи: {{new.rating}}</span></p>
    <hr>
    {% endfor %}

{%endblock content%}
</body>
</html>