<!DOCTYPE html>
<html lang="en">
<head> {% extends 'flatpages/default.html' %}
    <meta charset="UTF-8">
    <title>{% block title %} NEWS {% endblock title %}</title>
</head>
<body>
{% block content %}
<h1><span style="color: #ff0000;">Новости на стайте:</span></h1>
{% if news %}
<h6>Всего: {{news|length}} статей</h6>
    {% for el in news %}
        <h3>{{ el.title }}</h3>
        <p>{{ el.data|date:'d.M.Y' }}</p>
        <p>{{ el.preview }}</p>
        <hr>
    {%endfor%}
{% else %}
    <h2>Новостей нет</h2>
{% endif %}
{% endblock content %}
</body>
</html>