
{%extends 'flatpages/base.html'%} {% load custom_filters %}

{%block title%} Новостной портал {%endblock%}


{%block sidebar%}
<div class="col-md-4">
    <div class="list-group">
        {%for el in cate%}
        <a href="{% url 'cate_filter' el.pk %}" class="list-group-item list-group-item-action active">{{el.category_name}}</a>
        {%endfor%}
    </div>
</div>
{%endblock%}


{%block content%}
<div class="col-md-8">
    {%for el in news%}
    <div class="card mb-3">
        <div class="card-header">
            Категории:
            <form action="{% url 'category_detail' el.category_id.pk %}"><input class="btn btn-primary " type="submit"
                                                                                value="{{el.category_id}}"></form>
        </div>
        <br>
        <div class="row g-0">
            <div class="col-md-4">
                {%if el.photo%}
                <img src="{{el.photo.url}}" alt="" width="275" class="mr-3">
                {%endif%}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a style="color: #000000;" href="{% url 'news_detail' el.id %}">{{ el.title|censor_filter }}</a></h5>
                    <p class="card-text">{{ el.text|censor_filter|truncatewords:150 }}</p> <a
                        href="{% url 'news_detail' el.id %}" class="btn btn-primary">Читать полную новость</a>
                    <a href="{% url 'news_update' el.id %}" class="btn btn-primary">Редактировать пост</a>
                    <a href="{% url 'news_delete' el.id %}" class="btn btn-danger">Удалить пост</a>
                </div>
            </div>
            <br>
            <div
                    class="card-footer text-muted " style="text-align: right;">Рейтинг статьи: {{el.rating}}<br>
                Дата публикации {{ el.data|date:'d M Y H:m' }}
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}

